 header { /* background-color: #0073e6; */
    display: flex; 
    justify-content: space-between;
     align-items: center;
     } 
     /* for header logo */ 
     header .logo img { 
        height: auto;
     }
      /* for nav style */
       nav{
         padding-left: 470px;
         margin-bottom:-30px;
          display: flex;
           justify-content: center;
            align-items: center;
         } 
         nav ul{ 
          list-style: none;
             display: flex; gap: 20px;
              padding-left:}
               /* for nav links */
                nav a { 
                    text-decoration: none;
                 color: #333;
                  font-size: 16px; font-weight: bold;
                   /* cursor: pointer;
                    */ } /* for better looking */
                     nav a:hover{ 
                        text-decoration: overline; 
                    }
